*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #1f1f1f;
    --second-bg-color: #1f242d;
    --text-color: #fff;
    --main-color: #20951a;
}
html{
    font-size: 60%;
    overflow-x: hidden;
    section{
        min-height: 100vh;
        padding: 10rem 9% 2rem;
    }
    body{
        background-color: var(--bg-color);
        color: var(--text-color);
        .header{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 2.3%;
            background-color: var(--bg-color);
            display: flex;
            justify-content: space-between;/*kanan kiri*/
            align-items: center;
            z-index: 100;
        }
        .header.sticky{
            border-bottom: .3rem solid rgba(0, 0, 0, .3);
        }
        .logo{
            font-family: "Oswald", sans-serif;
            padding-left: 5%;
            font-size: 42px;
            cursor: default;
            color: var(--text-color);
            font-weight: bold;
        }
        .navbar a{
            font-family: "Oswald", sans-serif;
            letter-spacing: .1rem;
            margin-right: 40px;
            font-size: 20px;
            margin-left: .2rem; /*rem=satuan dari kanan*/
            color: var(--text-color);
            transition: .4s;
        }
        .navbar a:hover,
        .navbar a.active{ 
            color: var(--main-color);
        }
        #menu-icon{
            font-size: 26px;
            color: var(--text-color) ;
            display: none; /*untuk responsive*/
            
        }
        .home{
            /* font-family: "Protest Strike", sans-serif; */
            font-family: "Poppins", sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            .home-img img{
                margin-left: 2%;
                padding-top: 9%;
                height: 70vh;
                width: 50vh;
            }
            .home-content{
                margin-right: 9%;
                h3{
                    font-family: "Poppins", sans-serif;
                    color: var(--text-color);
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 1.5;/*antarbaris*/                                      
                }
                h3:nth-of-type(2){
                    margin-bottom: 2rem;
                }
                h1{
                    text-indent: 2px;
                    font-family: "Poppins", sans-serif;
                    color: var(--text-color);
                    font-size: 38px;
                    font-weight: 800;
                    line-height: 1.4;/*antarbaris*/
                }
                h2{
                    font-family: "Poppins", sans-serif;
                    color: var(--text-color);
                    font-size: 34px;
                    font-weight: 600;
                    line-height: 1.5;/*antarbaris*/                                      
                    span{
                        color: var(--main-color);
                    }
                }
                p{
                    color: var(--text-color);
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 1.2;/*antarbaris*/
                }
                a{
                    color: var(--text-color);
                      
                }
                .socialmedia a i{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 4rem;
                    height: 4rem;
                    background: transparent;
                    border: .2rem solid var(--main-color);
                    border-radius: 50%;
                    font-size: 28px;
                    color: var(--main-color);
                    margin: 1.5rem  1.1rem .8rem 0;
                    transition: .4s;
                }
                .socialmedia a i:hover{
                    background-color: var(--main-color);
                    color: var(--second-bg-color);
                    box-shadow: 0 0 1rem var(--main-color);
                }
                .btn{
                    margin-top: 1.2%;
                    display: inline-block;
                    font-family: "Oswald", sans-serif;
                    padding: 1.8%;
                    padding-left: 2.4%;
                    padding-right: 2.4%;
                    background: var(--main-color);
                    border-radius: 5rem;
                    box-shadow: 0 0 1rem var(--main-color);
                    font-size: 17px;
                    color: var(--second-bg-color);
                    /* letter-spacing: .1rem; */
                    font-weight: 450;
                    transition: .5s ease;
                }
                .btn:hover{
                    box-shadow: none;
                }
            }
        }
        .about{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 8%;
            gap: 8rem; /*jarak konten 2 dari konten 1*/
            background-color: var(--second-bg-color);
            .about-img img{
                margin-left: 2%;
                padding-top: 6%;
                height: 70vh;
                width: 50vh;
            }
            .aboutme{
                font-family: "Poppins", sans-serif;
                h2{
                    color: var(--text-color);
                    font-size: 40px;
                    line-height: .7;
                    span{
                        color: var(--main-color);
                    }
                }
                h3{
                    color: var(--text-color);
                    font-size: 24px;
                    line-height: 2.3;
                    font-weight: 900;
                }
                p{
                    color: var(--text-color);
                    font-size: 15px;
                    margin: .2rem 0 .2rem;
                }
                }
                .btn{
                    margin-top: 1.2%;
                    display: inline-block;
                    font-family: "Oswald", sans-serif;
                    padding: 1%;
                    padding-left: 2.4%;
                    padding-right: 2.4%;
                    background: var(--main-color);
                    border-radius: 5rem;
                    box-shadow: 0 0 1rem var(--main-color);
                    font-size: 17px;
                    color: var(--second-bg-color);
                    /* letter-spacing: .1rem; */
                    font-weight: 450;
                    transition: .4s ease;
                }
                .btn:hover{
                    box-shadow: none;
                }
        }
        .experience{
            /* display: grid; */
            margin-top: 5%;
            justify-content: center;
            align-items: center;
            font-family: "Poppins", sans-serif;
            h2{
                padding-top: 6.5%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--text-color);
                font-size: 32px;
                line-height: 1;
                margin-bottom: 4%;
                span{
                    text-indent: 10px;
                    color: var(--main-color);
                }
            }
            .experience-container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 2rem;
                .experience-box{
                    flex: 1 1 30rem;
                    background-color: var(--second-bg-color);
                    padding: 3rem 2rem 4rem;
                    border-radius: 4rem;
                    text-align: center;
                    border: .2rem solid var(--bg-color);
                    box-shadow: none;
                    transition: .4s ease;
                }
                .experience-box:hover{
                    border-color: var(--main-color);
                    transform: scale(1.02);
                    box-shadow: 0 0 .6rem var(--main-color);
                }
                i{
                    font-size: 50px;
                    color: var(--main-color);
                }
                h3{
                    font-size: 24px;
                    margin: 2rem 0 3rem;
                }
                p{
                    font-size: 18px;
                    margin: 4rem 0 3rem;
                }
                .btn{
                    margin-top: 5%;
                    display: inline-block;
                    font-family: "Oswald", sans-serif;
                    padding: 1%;
                    padding-left: 2.4%;
                    padding-right: 2.4%;
                    background: var(--main-color);
                    border-radius: 5rem;
                    box-shadow: 0 0 1rem var(--main-color);
                    font-size: 17px;
                    color: var(--second-bg-color);
                    /* letter-spacing: .1rem; */
                    font-weight: 450;
                    transition: .4s ease;
                }
                .btn:hover{
                    box-shadow: none;
                }
            }
        }
        .portofolio{
            background-color: var(--second-bg-color);
            font-family: "Poppins", sans-serif;
            h2{
                margin-top: 5%;
                font-size: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2%;
                span{
                    text-indent: 5px;
                    color: var(--main-color);
                }
            }
            .portofolio-container{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: center;
                gap: 2.5rem;
                .portofolio-box{
                    position: relative;
                    border-radius: 2rem;
                    box-shadow: 0 0 1rem var(--bg-color);
                    overflow: hidden;
                    display: flex;
                    img{
                        width: 100%;
                        border-radius: 10px;
                        transition: .4s ease;
                    }
                    .portofolio-layer{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        text-align: center;
                        padding: 0 4rem;
                        transform: translateY(100%);
                        transition: .4s ease;
                        h4{
                            font-size: 16px;
                        }
                        p{
                            font-size: 12px ;
                            margin: .3rem 0 1rem;
                        }
                        a{
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            width: 5rem;
                            height: 5rem;
                            background: var(--text-color);
                            border-radius: 50%;
                        }
                        a i{
                            font-size: 24px;
                            color: var(--second-bg-color);
                        }
                    }
                }
                .portofolio-box:hover{
                    .portofolio-layer{
                        transform: translateY(0);
                    }
                    img{
                        transform: scale(1.1);
                    }
                }
            }
        }
        .contact{
            font-family: "Poppins", sans-serif;
            h2{
                margin-top: 5%;
                font-size: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2%;
                span{
                    text-indent: 5px;
                    color: var(--main-color);
                }
            }
            form{  
                max-width: 70rem;
                margin: 1rem auto;
                text-align: center;
                margin-top: 0%;
                margin-bottom: 3rem;
                .input-box{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;    
                    input{
                        width: 49%;
                        padding: 1.5rem;
                        font-size: 1.6;
                        color: var(--text-color);
                        background-color: var(--second-bg-color);
                        border-radius: .8rem;
                        margin: .7rem 0;
                    }
                }
                textarea{
                    width: 100%;
                    align-items: center;
                    resize: none;
                    padding: 1.5rem;
                    font-size: 1.6;
                    color: var(--text-color);
                    background-color: var(--second-bg-color);
                    border-radius: .8rem;
                    margin: .7rem 0;
                }
                .btn{
                    cursor: pointer;
                    margin-top: 1%;
                    display: inline-block;
                    font-family: "Oswald", sans-serif;
                    padding: 1%;
                    padding-left: 2.4%;
                    padding-right: 2.4%;
                    background: var(--main-color);
                    border-radius: 5rem;
                    box-shadow: 0 0 1rem var(--main-color);
                    font-size: 17px;
                    color: var(--second-bg-color);
                    /* letter-spacing: .1rem; */
                    font-weight: 450;
                    transition: .4s ease;
                }
                .btn:hover{
                    box-shadow: none;
                }
                h4{
                    padding: 3% 0 0;
                    font-size: 18px;
                    font-weight: 400;
                }
                .socialmedia a i{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 4rem;
                    height: 4rem;
                    background: transparent;
                    border: .2rem solid var(--main-color);
                    border-radius: 50%;
                    font-size: 28px;
                    color: var(--main-color);
                    margin: 1.5rem 1.1rem 2rem;
                    transition: .4s;
                }
                .socialmedia a i:hover{
                    background-color: var(--main-color);
                    color: var(--second-bg-color);
                    box-shadow: 0 0 1rem var(--main-color);
                }
            }
        }
        .footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 1.6rem 4%;
            background: var(--second-bg-color);
            .footer-text{
                left: 0;
                font-size: 17px;
            }
            .footerIconTop a{
                display: inline-flex;
                justify-content: center;
                align-items: center;
                padding: .8rem;
                background: var(--main-color);
                border-radius: 40%;
                transition: .4s ease;
            }
            .footerIconTop a:hover{
                box-shadow: 0 0 1rem var(--main-color);
            }
            .footerIconTop a i{
                font-size: 24px;
                color: var(--second-bg-color);
            }
        }
    }
}
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}    
/* @media(max-width:834px){
    html{
        .header{
            padding: 9rem 3%;
        }
        section{
            padding: 10rem 3% 2rem;
        }
        .footer{
            padding: 2rem 3%;
        }
        body{
        .home{
            display: none;
            .home-content{
                font-size: 55%;
            }   
            .home-img img{
                height: 10vh;
                width: 10vw;
            }
        }
        }
          
    }
}     */
@media(max-width:991px){
    html{
        body{
            #menu-icon{
                font-size: 36px;
                color: var(--text-color) ;
                display: block;
            }
            .navbar{
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                padding: 1rem 3%;
                background: var(--bg-color);
                border-top: .2rem solid rgba(0, 0, 0, .3);
                box-shadow: .2rem solid rgba(0, 0, 0, .3);
                display: none;
            }
            .navbar.active{
                display: block;
            }
            .navbar a{
                display: block;
                font-size: 2.3rem;
                margin: 3rem 0;
            }
            .home{
                .home-content{
                    font-size: 55%;
                }
                .home-img img{
                    height: 40vh;
                    width: 32vw;
                }
            }
            .about{
                .about-img img{
                    height: 40vh;
                    width: 32vw;
                }   
                .about-img img{
                    .about-content{
                        font-size: 55%;
                    }
                }
            }
            .portofolio{
                max-height: 60%;
                h2{
                    margin-top: 8%;
                }
                .portofolio-container{
                    margin-top: 9%;
                    margin-left: -66.5px;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 4rem;
                    width: 120%;
                    .portofolio-box{
                        .portofolio-layer{
                            h4{
                                font-size: 175%;
                            }
                            p{
                                font-size: 145%;
                            }
                            a{
                                width: 3rem;
                                height: 3rem;
                            }
                            a i{
                                font-size: 175%;
                            }
                        }
                    }
                }
            }
            .footer{
                padding: 1.6rem 8%;
            }
        }
    }
}    
@media(max-width:768px){
    html{
        body{
            #menu-icon{
                font-size: 36px;
                color: var(--text-color) ;
                display: block;
            }
            .navbar{
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                padding: 1rem 3%;
                background: var(--bg-color);
                border-top: .2rem solid rgba(0, 0, 0, .3);
                box-shadow: .2rem solid rgba(0, 0, 0, .3);
                display: none;
            }
            .navbar.active{
                display: block;
            }
            .navbar a{
                display: block;
                font-size: 2.3rem;
                margin: 3rem 0;
            }
            .home{
                .home-content{
                    font-size: 55%;
                }
                .home-img img{
                    height: 40vh;
                    width: 32vw;
                }
            }
            .about{
                .about-img img{
                    height: 40vh;
                    width: 32vw;
                }   
                .about-img img{
                    .about-content{
                        font-size: 55%;
                    }
                }
            }
            .portofolio{
                max-height: 60%;
                h2{
                    margin-top: 8%;
                }
                .portofolio-container{
                    margin-top: 9%;
                    margin-left: -63px;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 4rem;
                    width: 120%;
                    .portofolio-box{
                        .portofolio-layer{
                            h4{
                                font-size: 175%;
                            }
                            p{
                                font-size: 145%;
                            }
                            a{
                                width: 3rem;
                                height: 3rem;
                            }
                            a i{
                                font-size: 175%;
                            }
                        }
                    }
                }
            }
            .footer{
                padding: 1.6rem 8%;
            }
        }
    }
}    
@media(max-width:450px){
    html{
        body{
            #menu-icon{
                margin-right: 4%;
                font-size: 36px;
                color: var(--text-color) ;
                display: block;
            }
            .header{
                padding: 5.4%;
            }
            .logo{
                font-size: 24px;
            }
            .navbar.active{
                display: block;
            }
            .navbar a{
                display: block;
                font-size: 2.3rem;
                margin: 1.7rem 3rem;
            }
            .home{
                display: grid;
                grid-template-rows: auto auto;
                grid-template-columns: 1fr ;
                justify-items: center;
                .home-img img{
                    grid-row: 1;
                    margin-left: 0%;
                    margin-top: -80px;
                    margin-bottom: -180px;
                    grid-template-columns: 3;
                    height: 35vh;
                    width: 40vw;
                }
                .home-content{
                    grid-row: 2;
                    margin-right: 0%;
                    text-align: center;
                    h3{
                        font-size: 16px;
                    }
                    h1{
                        font-size: 20px;
                    }
                    h2{
                        font-size: 14px;
                    }
                    p{
                        font-size: 11px;
                    }
                        .socialmedia a i{
                        
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 4rem;
                        height: 4rem;
                        background: transparent;
                        font-size: 16px;
                        color: var(--main-color);
                        }
                .btn{
                        font-size: 14px;
                    }
                }
            }
            .about{
                display: grid;
                grid-template-rows: auto auto;
                grid-template-columns: 1fr ;
                justify-items: center;
                padding-top: 0%;
                padding-bottom: 20%;
                .about-img img{
                    margin-left: 0%;
                    margin-top: 50%;
                    margin-bottom: -230px;
                    height: 30vh;
                    width: 40vw;
                }
                .aboutme{
                    text-align: center;
                    h2{
                        font-size: 20px;
                    }
                    h3{
                        font-size: 15px;
                    }
                    p{
                        font-size: 11px;
                    }
                }
            }
            .experience{
                h2{
                    margin-top: 10%;
                    font-size: 20px;
                }
                .experience-container{
                    margin-top: 10%;
                    .experience-box{
                    }
                    i{
                        font-size: 16px;
                    }
                    h3{
                        font-size: 14px;
                    }
                    p{
                        margin-top: -9%;
                        font-size: 11px;
                    }
                    .btn{
                        margin-top: 1%;
                    }
                }
            }
            .portofolio{
                max-height: 60%;
                h2{
                    margin-top: 4%;
                    font-size: 20px;
                }
                .portofolio-container{
                    margin-top: 9%;
                    margin-left: 0%;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 4rem;
                    width: 100%;
                    .portofolio-box{
                        .portofolio-layer{
                            h4{
                                font-size: 115%;
                            }
                            p{
                                font-size: 115%;
                            }
                            a{
                                width: 3rem;
                                height: 3rem;
                            }
                            a i{
                                font-size: 115%;
                            }
                            }
                        }
                    }
                }
            .contact{
                h2{
                    font-size: 20px;
                }
                form{
                    /* .input-box{
                        input{
                            width: ;
                        }
                    } */
                    .socialmedia{
                        h4{
                            margin-top: 5%;
                            font-size: 11px;
                        }
                        a i{
                            width: 4rem;
                            height: 4rem;
                            font-size: 20px;
                            margin: 1.5rem  .4rem .4rem 0;
                        }
                    }
                }
            }
            .footer{
                padding: 1.6rem 11%;
                .footer-text{
                    font-size: 12px;
                }
            }
        .footerIconTop a{
            
        }
        }
    }
}    